<div class="goreecloud-preferences-actions">
  <p class="goreecloud-preferences-note">
    <strong>{{ _('Stored in your browser') }}</strong>
    {{- _('These settings are stored in your cookies. This allows us not to store this data about you.') -}}
    {{- ' ' -}}{{- _("These cookies serve your sole convenience; we don't use them to track you.") -}}
  </p>{{- '' -}}

  <div class="goreecloud-preferences-buttons">
    <div class="preferences_back">{{- '' -}}
      <a href="{{ url_for('index') }}">{{ _('Back') }}</a>{{- '' -}}
    </div>{{- '' -}}
    <div class="preferences_back">{{- '' -}}
      <a href="{{ url_for('clear_cookies') }}">{{ _('Reset defaults') }}</a>{{- '' -}}
    </div>{{- '' -}}
    <input class="goreecloud-preferences-save" type="submit" value="{{ _('Save') }}">{{- '' -}}
  </div>
</div>
