<div class="goreecloud-preferences-footer">
  <p class="small_font goreecloud-preferences-storage-note">
    {{- _('These settings are stored in your cookies. This allows us not to store this data about you.') -}}
    <br>{{- _("These cookies serve your sole convenience; we don't use them to track you.") -}}
  </p>{{- '' -}}

  <div class="goreecloud-preferences-actions">
    <input class="goreecloud-preferences-save" type="submit" value="{{ _('Save') }}">{{- '' -}}
    <a class="goreecloud-preferences-back" href="{{ url_for('index') }}">{{ _('Back') }}</a>{{- '' -}}
    <a class="goreecloud-preferences-reset" href="{{ url_for('clear_cookies') }}">{{ _('Reset defaults') }}</a>{{- '' -}}
  </div>
</div>
