<fieldset>{{- '' -}}
  <legend id="pref_hotkeys">{{- _('Hotkeys') -}}</legend>{{- '' -}}
  <div class="value">{{- '' -}}
    <select name="hotkeys" aria-labelledby="pref_hotkeys">{{- '' -}}
      <option value="default"
              {%- if hotkeys == 'default' %} selected="selected"
              {%- endif -%}>
              {{- _('GoreeCloud') -}}
      </option>{{- '' -}}
      <option value="vim"
              {%- if hotkeys == 'vim' %} selected="selected"
              {%- endif -%}>
              {{- _('Vim-like') -}}
        </option>{{- '' -}}
    </select>{{- '' -}}
  </div>{{- '' -}}
  <div class="description">
    {{- _(
    'Navigate search results with keyboard shortcuts (JavaScript required). '
    'Press "h" on the home or results page to view shortcut help.'
    ) -}}
  </div>{{- '' -}}
</fieldset>{{- '' -}}
